[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/SDL_ttf"]
	path = extern/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "extern/SDL_mixer"]
	path = extern/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
